/**
 ** Zoomable baseline grid
 ** type size presets
 */
@import "font-stack";

@font-face {
    font-family: 'BostonTrafficRegular';
    src: url('boston-webfont.eot');
    src: url('boston-webfont.eot?#iefix') format('embedded-opentype'),
         url('boston-webfont.woff') format('woff'),
         url('boston-webfont.ttf') format('truetype'),
         url('boston-webfont.svg#BostonTrafficRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  /* 16px / 24px */
  @include body;
  font-family: $garamond-font-stack; }

.small {
  /* 13px / 18px */
  @include small; }

h3 { 
    font-family: BostonTrafficRegular;
}

h4, h5 {
    font-family: BostonTrafficRegular;
}

#callstoaction h3 { 
    margin: 1.2em 0;
}
#latest-updates article h4 {
    margin-bottom: 20px;
}

.normal {
  /* 16px / 24px */
  @include normal; }

h1,
h2,
.large {
  /* 16px / 24px */
  @include large; }

.huge {
  /* 42px / 48px */
  @include huge; }

.massive {
  /* 68px / 72px */
  @include massive; }

.gigantic {
  /* 110px / 120px */
  @include gigantic; }

nav {
    font-family: $helvetica-font-stack;
    @include wrapper;
}
